.App {
  --primary-main: #12788c;
  --primary-light: #3C828E;
  --primary-lighter: #9ACCD5;

  --secondary-main: #e60050;

  --error-main: #ff3d00;

  --warning-main: #ea9814;

  --divider-main: #12788c;

  text-align: center;
}

.product__header {
  display: flex;
  justify-content: space-between;
  background-color: teal;
}

.restriction__chip {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restriction__chip > * {
  margin: 0.15rem;
}